.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.title {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.hobbiesRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconMovies,
.iconSkiing {
  font-size: 3rem;
}

.iconSkiing {
  color: #00c6ff;
}

.iconMovies {
  color: #ff4c4c;
}

.hobbyTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.description {
  font-size: 1em;
  margin-top: 5px;
  max-width: 250px;
}
