.rightContainer {
  color: black;
  width: 600px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  position: relative;
}

@media (max-width: 1200px) {
  .rightContainer {
    width: 500px;
  }
}

@media (max-width: 992px) {
  .rightContainer {
    width: 450px;
  }
}
@media (max-width: 768px) {
  .rightContainer {
    width: 100%;
    height: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #d1d9e6;
  }
}
