.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #f4ece6;
  color: black;
  width: 275px;
  height: 500px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1),
    -10px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.topSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: 1rem;
}

.profileImage {
  border-radius: 50%;
  margin: 16px 0px;
  width: 150px;
  height: 150px;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
}

.name::after {
  content: "";
  display: block;
  height: 0.1875rem;
  background-color: #007bff;
  width: 50%;
  margin: 1rem auto 0;
}

.descriptionContainer {
  margin-top: 4rem;
  font-size: 0.9rem;
}

.description {
  font-size: 1.1rem;
  color: #007bff;
}

.bottomSide {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem;
  width: 100%;
  position: relative;
  bottom: 0;
}

.bottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bottomIcon {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.bottomButton:hover .bottomIcon {
  color: #007bff;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.buttonIcon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: #005582;
}
