.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #007bff;
  width: 100%;
  transform-origin: 0%;
  z-index: 1000;
  display: none;
}
@media (max-width: 768px) {
  .progressBar {
    display: block;
  }
}
