.bottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bottomIcon {
  font-size: 2rem;
  transition: color 0.3s ease;
  color: black;
}
.bottomButton:hover .bottomIcon {
  color: #007bff;
}
