.bottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bottomIcon {
  font-size: 2rem;
  transition: color 0.3s ease;
  color: black;
}

.github {
  color: #333;
}

.linkedin {
  color: #0e76a8;
}

.instagram {
  color: #e4405f;
}

.whatsapp {
  color: #25d366;
}

.mail {
  color: #008080;
}
