.navItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 8px;
  color: black;
  transition: background-color 0.3s ease;
  position: relative;
}

.navItem.active {
  color: white;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.iconWrapperActive .icon {
  color: white;
}

.navLink.active .iconWrapper {
  background-color: #007bff;
}

.navItem:hover .iconWrapper {
  background-color: #007bff;
}

.scrollToTopButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  font-size: 24px;
  color: #00a046;
}

.scrollToTopButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #b0b0b0;
}

.scrollToTopButton:hover {
  opacity: 0.7;
}
