.navItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 8px;
  color: black;
  transition: background-color 0.3s ease;
  position: relative;
}

.navItem.active {
  color: white;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.iconWrapperActive .icon {
  color: white;
}

.navLink.active .iconWrapper {
  background-color: #007bff;
}

.navItem:hover .iconWrapper {
  background-color: #007bff;
}

.textWrapper {
  position: absolute;
  left: 50%;
  bottom: 145%;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transform: translateX(-50%) translateY(-40px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}

.textWrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.textWrapperVisible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.iconWrapper:hover + .textWrapper,
.navItem:not(.active):hover .textWrapper {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.navItem.active .textWrapper {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.navItem.active .textWrapper::after {
  transform: translateX(-50%);
}

.navItem.active .iconWrapper:hover + .textWrapper {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
