.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainContainer {
  display: flex;
  flex: 1;
  padding: 20px;
  margin-left: 80px;
}

.leftSideBg {
  width: 43%;
  background-color: #e6dace;
  height: 100%;
}

.rightSideBg {
  width: 57%;
  background-color: white;
  height: auto;
}

@media (max-width: 992px) {
  .wrapper {
    left: 45%;
  }
  .leftSideBg {
    width: 37%;
  }

  .rightSideBg {
    width: 63%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .mainContainer {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .leftSideBg,
  .rightSideBg {
    width: 100%;
  }

  .leftSideBg {
    height: 14vh;
  }
  .rightSideBg {
    height: 0vh;
  }
}
