.skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-out;
  will-change: transform, opacity;
  background-color: #d1d9e6;
}

.skillContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
  overflow: hidden;
}

.skillItem p {
  margin: 0;
  font-size: 1rem;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .skillItem {
    background-color: white;
  }
}
