.skills {
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: #f4ece6;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1),
    -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
}

.skills h3 {
  font-size: 1.5rem;
  text-align: left;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  overflow: hidden;
}

.skills a {
  color: #0070f3;
  text-decoration: underline;
}

.skills a:hover {
  text-decoration: underline;
}
.skills p {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .skills {
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
  }
}
