.skillItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-out;
  will-change: transform, opacity;
}

.skillContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.skillItem p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
