.hobbies {
  background-color: #f4ece6;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1),
    -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hobbiesHeader {
  width: 100%;
  text-align: left;
}

@media (max-width: 768px) {
  .hobbies {
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
  }
}
