
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.first{
    align-items: center;
    justify-content: center;
}

.profile-image{
    border-radius: 50%;
}

.card-personal{
    background-color: #68ab5d;
}

.sidebar {
    min-height: 100vh;
    width: 270px;
    transition: all 0.3s;
    position: relative; 
    background-color: #292b2c ;
}
.sidebar.collapsed {
    width: 60px;
}
.sidebar-item {
    padding: 15px 20px;
}
.sidebar.collapsed .sidebar-item span {
    display: none;
}
.sidebar a{
    border-radius: 6px;
}

.sidename{
    margin-top: 8px;
    font-size: 1.25rem;
}

.side-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}


.sidebar-button {
    cursor: pointer;
    position: absolute;
    top: 1.3rem;
    left: 15px;
    z-index: 1100;
    
  }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #68ab5d;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


hr {
    background-color: white;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 600;
    font-style: normal;
}

.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}

.cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
}

.nav-link {
    color: white;
    border: 1px solid #68ab5d;
}

.nav-link:hover{
    color: #292b2c;

}

.btn-footer {
    border: 2px solid #68ab5d;
    color: white;
    background: transparent;
    width: 150px;
    border-radius: 10px;
    margin: 0px 5px;
}

.btn-footer:hover {
    background-color: #68ab5d;
    color: white;
    text-decoration: none;
}

.nav-link:hover{
    background-color: #68ab5d;

}

.footer-content{
    position: relative;
    bottom: 0;
    padding: 24px 24px;
    background-color: #292b2c;
    color: white;
    text-align: center;
}

.faded{
    position:fixed;
    z-index:1;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0,0.3);
    opacity: 0.6;
}

.dropdown_menu {
    display: none;
    margin-left: auto;
    margin-right: 1.6rem;
    width: 100px;
    height: 90px;
    background-color: rgba(104, 171, 93, 0.3);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #292b2c;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropdown_menu li a{
    color: #292b2c;
    text-decoration: none;
}

.webdev{
    color: #68ab5d;
}

.theme-c{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-right:1.6rem;
    margin-bottom: 1.3rem;
}

.toggle-theme{
    right:1.6rem;
    background-color: #292b2c;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #68ab5d;
}

.toggle-theme:hover{
    color: white;
    text-decoration: none;

}

.log-register{
    position: relative;
    margin-left: auto;
    margin-right:1.6rem;
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    width: 60px;
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: #68ab5d;
    border: 1px solid #292b2c;
    border-radius: 10px;
}

.log-register a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}



@media (min-width: 768px) {
    .profile-image{
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 992px) {
    .top-header{
        padding-top: 70px;
    }
    /* .toggle-btn {
        display: none; Hide toggle button on larger screens */
    /*} */
    .sidebar-button{
        display: none;
    }
    .sidetop {
        padding: 16px;
    }
    
}


@media (max-width: 992px) {
    .top-header{
        padding-top: 70px;
    }
    .top-title{
        font-size: 35px;
    }

    .sidebar {
        position: absolute;
        left: -250px; /* Initially hidden */
        transition: left 0.3s;
        z-index: 1000;
        background-color: #292b2c;
        width: 170px;
        transition: all 0.3s;
    }
    .sidebar.active {
        left: 0; /* Show sidebar when active */
    }
    

    .sidetop {
        padding-left: 50px;
    }
    .sidename{
        margin-top: 16px;
        font-size: 1.2rem;
        margin-left: 16px;
        text-align: center;
    }
    .favicon-header {
        display: none;
    }
    .sidebar-item {
        padding: 15px 15px;
    }
    .nav-link{
        padding: 8px;
        font-size: 0.85rem;
        text-align: center;
        justify-content: center;
    }
    
    .footer-content{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .profile-image{
        width: 15rem;
        height: 15rem;
    }



}


@media (max-width: 768px) {
    .btn-group{
        justify-content: center;
    }
}


/* Toggle Light / Dark Modes */
.switch-mode{
    background-color: #68ab5d ;
    color: #292b2c;
}
.theme{
    color: #292b2c;
    border: 1px solid #292b2c;
}
.theme:hover{
    color: white;
    background-color: #292b2c;
}
.first-active{
    color: #68ab5d;
}
.webdev-active{
    color: #292b2c;
}

.btn-footer-theme{
    color: #292b2c;
    background: #68ab5d;
}
.btn-footer-theme:hover{
    background-color: #292b2c;
    color: white;
}

.btn-tog{
    color: #292b2c;
    background-color: #68ab5d ;
}

.drop-theme{
    background-color: rgba(41, 43, 44, 0.3);
    color: #68ab5d;
}

.log-register-theme{
    background-color: #292b2c;
    border: 1px solid #68ab5d;
}
.sidebar-active{
    background-color: #292b2c;
}
.card-personal-theme{
    background-color: #292b2c;
    color: white;
}

.sidename-theme{
    color: #292b2c;
}